<ion-view title="About" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="about-markdown25" style="color:#000000;text-align:justify;" class=" ">We, a group of 4, has come together to create this application in order to raise awareness about Cyber Wellness.</p>
        <p id="about-markdown27" style="color:#000000;text-align:justify;" class=" ">This app features an option to view information about Cyber Wellness, a 20 question quiz that refreshes every 2 weeks, and a story page where you can share your past experiences.</p>
        <h4 id="about-heading2" style="color:#000000;" class=" ">Contact Us</h4>
        <p id="about-markdown26" style="color:#000000;" class=" ">+65 9123 4567</p>
        <p id="about-markdown28" style="color:#000000;" class=" ">Email: STIGRP6@tp.edu.sg</p>
        <h4 id="about-heading3" style="color:#000000;" class=" ">Version</h4>
        <p id="about-markdown29" style="color:#000000;" class=" ">Current version: 1.00 (beta)</p>
    </ion-content>
</ion-view>