<ion-view title="Home" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.information" id="home-button1" class=" button button-positive  button-block ">Information on Cyber Wellness</a>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <a ui-sref="tabsController.quiz" id="home-button2" class=" button button-energized  button-block ">Quiz</a>
        <div class="spacer" style="width: 283px; height: 24px;"></div>
        <a ui-sref="tabsController.videos" id="home-button3" class=" button button-assertive  button-block ">Videos</a>
		<div class="spacer" style="width: 283px; height: 24px;"></div>
        <a href="camera.html" class=" button button-energized  button-block ">Camera</a>
		<div class="spacer" style="width: 283px; height: 24px;"></div>
		<button class=" button button-positive  button-block " ng-click="showScore()">Score</button>
    </ion-content>
</ion-view>