<ion-view title="Newsfeed" hide-back-button="true" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
	<a ui-sref="tabsController.shareAStory" id="newsfeed-button1" class=" button button-positive  button-block ">Share a story</a>
        <ion-list id="newsfeed-list5" class=" ">
		    <ion-item class="item-divider " id="newsfeed-list-item-divider3">Sort By</ion-item>
            <label class="item item-select " id="newsfeed-select1">
                <span class="input-label">Select</span>
                <select>
                    <option>Most Recent</option>
                    <option>Most Liked</option>
                </select>
            </label>
        </ion-list>
		<div class="spacer" style="width: 283px; height: 33px;"></div>
            <ion-item class="item-divider " id="newsfeed-list-item-divider3">Name: Efrem Tham</ion-item>
			<ion-item class="item-text-wrap">This is my story. </ion-item>
			
        </ion-list>
		  <button id="newsfeed-button4" style="text-align:right;" class=" button button-assertive  icon ion-ios-heart "></button>
	</ion-content>
</ion-view>