<ion-view title="Quiz" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz2-markdown5" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q2: What should you do if a stranger friend you on Facebook?</p>
        <a ui-sref="tabsController.quiz3" id="quiz2-button8" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Decline the request</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz3" id="quiz2-button9" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Accept the request</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz3" id="quiz2-button10" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Block the user</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz3" id="quiz2-button11" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Report the user</a>
    </ion-content>
</ion-view>