<ion-view title="Quiz" hide-back-button="true" id="page25" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz16-markdown20" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q16: What should you do when you see a "Terms &amp; Condition" popup?</p>
        <a ui-sref="tabsController.quiz17" id="quiz16-button69" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Don't read and just accept</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz17" id="quiz16-button70" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Read the whole thing</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz17" id="quiz16-button71" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Look for important information such as privacy</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz17" id="quiz16-button72" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Fake your age to accept</a>
    </ion-content>
</ion-view>