<ion-view title="Quiz" hide-back-button="true" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz13-markdown17" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q13: What should you do if you needed parental consent to access something online?</p>
        <a ui-sref="tabsController.quiz14" id="quiz13-button57" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Fake your age</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz14" id="quiz13-button58" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Trick your parents to allow it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz14" id="quiz13-button59" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Tell your parents and take caution</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz14" id="quiz13-button60" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Use your parent's email to allow it</a>
    </ion-content>
</ion-view>