<ion-view title="Quiz" hide-back-button="true" id="page28" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz19-markdown23" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q19: What should you do if you found out your friend is getting cyber-bullied?</p>
        <a ui-sref="tabsController.quiz20" id="quiz19-button81" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Contribute and bully your friend</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz20" id="quiz19-button82" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Laugh at your friend</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz20" id="quiz19-button83" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Help him and report bully</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz20" id="quiz19-button84" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore it</a>
    </ion-content>
</ion-view>