<ion-view title="Quiz" hide-back-button="true" id="page18" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz9-markdown13" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q9: Should you take revenage on someone who cyber-bullied you?</p>
        <a ui-sref="tabsController.quiz10" id="quiz9-button41" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Yes, he/she deserves it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz10" id="quiz9-button42" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Maybe? It doesn't matter to me</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz10" id="quiz9-button43" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">I don't know how</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz10" id="quiz9-button44" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">No, I should report him instead</a>
    </ion-content>
</ion-view>