<ion-view title="Quiz" hide-back-button="true" id="page26" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz17-markdown21" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q17: What should you do if you receive a warning email saying "Click on the link to reactivate your account"?</p>
        <a ui-sref="tabsController.quiz18" id="quiz17-button73" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Click on it immediately</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz18" id="quiz17-button74" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Scan the link with Virustotal to ensure it is safe</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz18" id="quiz17-button75" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore and delete the email</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz18" id="quiz17-button76" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Mark the email as spam</a>
    </ion-content>
</ion-view>