<ion-view title="Quiz" hide-back-button="true" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz8-markdown12" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q8: Which of the following is an example of cyber-bullying?</p>
        <a ui-sref="tabsController.quiz9" id="quiz8-button37" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Upload photos to embarrass others</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz9" id="quiz8-button38" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Spread rumours about the weird kid</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz9" id="quiz8-button39" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Posting rude/mean comments</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz9" id="quiz8-button40" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">All of the above</a>
    </ion-content>
</ion-view>