<ion-view title="Quiz" hide-back-button="true" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz4-markdown7" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q4: What should you do when you receive a spam?</p>
        <a ui-sref="tabsController.quiz5" id="quiz4-button17" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Delete it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz5" id="quiz4-button18" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Reply it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz5" id="quiz4-button19" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Continue the chain and send it to your friends</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz5" id="quiz4-button20" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Archive it to view in the future</a>
    </ion-content>
</ion-view>