<ion-view title="Quiz" hide-back-button="true" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz5-markdown8" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q5: What should you do when a popup saying "You've WON a MILLION dollars"?</p>
        <a ui-sref="tabsController.quiz6" id="quiz5-button21" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">CLICK ON IT</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz6" id="quiz5-button22" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Close the popup</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz6" id="quiz5-button23" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Screenshot it and share</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz6" id="quiz5-button24" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Click "cancel"</a>
    </ion-content>
</ion-view>