<ion-view title="Quiz" hide-back-button="true" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz3-markdown6" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q3: What should you do if a friend you met online ask to hang out?</p>
        <a ui-sref="tabsController.quiz4" id="quiz3-button13" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Bluetick him/her</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz4" id="quiz3-button14" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Decline it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz4" id="quiz3-button15" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Yes, let's go hang out!</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz4" id="quiz3-button16" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ask your Mom first</a>
    </ion-content>
</ion-view>