<ion-view title="Quiz" hide-back-button="true" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz10-markdown14" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q10: What makes a good password?</p>
        <a ui-sref="tabsController.quiz11" id="quiz10-button45" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Use your name</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz11" id="quiz10-button46" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Use your birthday</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz11" id="quiz10-button47" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Use something super complex</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz11" id="quiz10-button48" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Use letters, numbers &amp; at least 1 special character</a>
    </ion-content>
</ion-view>