<ion-view title="Quiz" hide-back-button="true" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz11-markdown15" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q11: Which of the following sites contain inappropriate content?</p>
        <a ui-sref="tabsController.quiz12" id="quiz11-button49" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Sites that have racism comments</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz12" id="quiz11-button50" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Sites that show violence</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz12" id="quiz11-button51" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Sites that show pornographic media</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz12" id="quiz11-button52" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">All of the above</a>
    </ion-content>
</ion-view>