<ion-view title="Quiz" hide-back-button="true" id="page23" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz14-markdown18" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q14: What should you do if a website's administrator ask you for your password?</p>
        <a ui-sref="tabsController.quiz15" id="quiz14-button61" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Tell him your password</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz15" id="quiz14-button62" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore the message</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz15" id="quiz14-button63" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Contact the website's official email</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz15" id="quiz14-button64" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Change your password</a>
    </ion-content>
</ion-view>