<ion-view title="Quiz" hide-back-button="true" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz15-markdown19" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q15: You just saw a funny but racist photo, what should you do?</p>
        <a ui-sref="tabsController.quiz16" id="quiz15-button65" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Report it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz16" id="quiz15-button66" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Share it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz16" id="quiz15-button67" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Comment on it</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz16" id="quiz15-button68" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore it</a>
    </ion-content>
</ion-view>