<ion-view title="Quiz" hide-back-button="true" id="page27" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz18-markdown22" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q18: If a gamer you met online ask you for your account so that he/she can send you game credits, what should you do?</p>
        <a ui-sref="tabsController.quiz19" id="quiz18-button77" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Give him your information</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz19" id="quiz18-button78" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore him/her</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz19" id="quiz18-button79" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Reject his/her offer</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz19" id="quiz18-button80" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Report the gamer</a>
    </ion-content>
</ion-view>