<ion-view title="Quiz" hide-back-button="true" id="page21" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz12-markdown16" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q12: What should you do if you got into a fight with your best friend?</p>
        <a ui-sref="tabsController.quiz13" id="quiz12-button53" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Post a secret about your best friend</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz13" id="quiz12-button54" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Post his/her number to get spam</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz13" id="quiz12-button55" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Post a edited photo of them</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz13" id="quiz12-button56" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Talk in private and resolve it</a>
    </ion-content>
</ion-view>