<ion-view title="Quiz" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz-markdown2" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q1: What should you do when you receive an insulting comment?</p>
        <a ui-sref="tabsController.quiz2" id="quiz-button4" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Reply the comment</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz2" id="quiz-button5" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Ignore the comment</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz2" id="quiz-button6" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Screenshot and tell someone</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz2" id="quiz-button7" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Like the comment</a>
    </ion-content>
</ion-view>