<ion-view title="Quiz" hide-back-button="true" id="page16" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz7-markdown11" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q7: Should you tell your password to anyone?</p>
        <a ui-sref="tabsController.quiz8" id="quiz7-button33" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Yes, I want others to use my account</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz8" id="quiz7-button34" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">No, it should be kept confidential</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz8" id="quiz7-button35" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">No, except my family</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz8" id="quiz7-button36" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Yes, in case I forget it</a>
    </ion-content>
</ion-view>