<ion-view title="Quiz" hide-back-button="true" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz6-markdown10" style="color:#000000;font-size:20px;text-align:justify;" class=" ">Q6: How can you prevent from getting addicted to gaming?</p>
        <a ui-sref="tabsController.quiz7" id="quiz6-button29" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Stop playing after 8 hours everyday</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz7" id="quiz6-button30" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Play until you are tired</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz7" id="quiz6-button31" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Set a time limit when you play</a>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <a ui-sref="tabsController.quiz7" id="quiz6-button32" class=" button button-positive  button-block button-outline " ng-click="stopTimeout()">Don't play any games</a>
    </ion-content>
</ion-view>