<ion-view title="Score" hide-back-button="true" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
	<div class = "row">
		<div class = "col">Name:</div>
		<div class = "col">NRIC:</div>
		<div class = "col">Score:</div>
	</div>

	<div class = "row">
		<div class = "col">Sean Yap</div>
		<div class = "col">S9746464A</div>
		<div class = "col">20</div>
	</div>

	<div class = "row">
		<div class = "col">Efrem Tham</div>
		<div class = "col">S9721212E</div>
		<div class = "col">15</div>
	</div>
	
	</ion-content>
</ion-view>