<ion-view title="Survey" hide-back-button="true" id="page33" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="survey-form8" class="list ">
            <p id="survey-markdown2" style="color:#000000;font-size:16px;" class=" ">Have you ever experienced cyber bullying before?</p>
            <label class="item item-select " id="survey-select5">
                <span class="input-label">Select "Yes" or "No"</span>
                <select>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
            <div class="spacer" style="width: 283px; height: 22px;"></div>
            <p id="survey-markdown3" style="color:#000000;font-size:16px;" class=" ">Have you got addicted to gaming before?</p>
            <label class="item item-select " id="survey-select6">
                <span class="input-label">Select "Yes" or "No"</span>
                <select>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
            <div class="spacer" style="width: 283px; height: 22px;"></div>
            <p id="survey-markdown4" style="color:#000000;font-size:16px;" class=" ">Do you practice good netiquette habits?</p>
            <label class="item item-select " id="survey-select7">
                <span class="input-label">Select "Yes" or "No"</span>
                <select>
                    <option></option>
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </label>
        </form>
        <a ui-sref="tabsController.survey2" id="survey-button1" class=" button button-positive  button-block ">Submit</a>
    </ion-content>
</ion-view>