<ion-view title="Videos" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
	<h1 id="page2-heading1" style="color:#000000;" class=" "></h1>
        <h4 id="page2-heading2" style="color:#000000;text-align:center;" class=" ">Featured Video</h4>
        <div>
            <iframe width="283" height="190" src="https://sendvid.com/embed/wv7m8ac9" frameborder="0" allowfullscreen="" autoplay="1" scrolling="no"></iframe>
        </div>
        <div>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsendvid.com%2Fwv7m8ac9%23&amp;width=450&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId" width="450" height="80" style="border:none;overflow:hidden"
            scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
        <div class="">
            <a href="chart.html"><img src="img/yKkF6GWaRCiQE7mri5Tu_Graphicloads-100-Flat-Analytics.ico" width="20%" height="auto" style="display: block; margin-left: auto;"></a>
        </div>
        <h4 id="page2-heading3" style="color:#000000;text-align:center;" class=" ">All Other Videos Playlist</h4>
        <div>
            <iframe width="283" height="180" src="https://www.youtube.com/embed/-e98hxHZiTg?list=PLjBILUy76oxVLxpH6KJgPwLlaaov9kZi3" frameborder="0" allowfullscreen=""></iframe>
        </div>
		<a ui-sref="submitvideo" class=" button button-positive  button-block ">Have a video to submit? Click here!</a>
	</ion-content>
</ion-view>